{% load static %}



<!--footer provisoire-->

    <footer>
        <div class="footer-top">
            <div class="container">
                <!---->
               
                <!---->
             <div class="row justify-content-between gy-5">

                 <div class="col-lg-4">
                     <h3 class="mb-3">Liens Utiles</h3>
                    <div class="liens-utiles" style="line-height: 0.8;">
                        <a href="#"><p>Contact</p></a>
                        <a href="#"><p>Blog</p></a>
                        <a href="{{ '//127.0.0.1:8000/admin/login/?next=/admin/login' }}"><p>Connexion</p></a>
                        <a href="#"><p>Mentions Légales</p></a>
                        <a href="#"><p>Confidentialité</p></a>
                        <a href="#"><p>CGU</p></a>
                    </div>

                    <div class="social-links">
                            <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class="bx bxl-twitter"></i></a>
                            <a href="#"><i class="bx bxl-instagram-alt"></i></a>
                            <a href="#"><i class="bx bxl-youtube"></i></a>
                   </div>
        </div>
                 <div class="col-lg-4" style="line-height: 0.8;">
                     <h3>Horaires</h3>
                     <div>
                         <h6> Lundi - Samedi </h6>
                         <p>08 h à 18 h</p>
                     </div>
                     <div>
                        <h6>Dimanche</h6>
                        <p>Nous sommes fermés</p>
                    </div>
                 </div>
                 <div class="col-lg-4" style="line-height: 0.8;">
                    <h3>Contact</h3>
                    <p>
                        <i class="bx bx-map"></i> 
                        <span>1 Rocade Des Cités Unies, 97115 Sainte Rose</span>
                    </p>
                    <p>
                        <i class="bx bx-phone"></i>
                        <span>+590 690 987550</span>
                    </p>

                    <p>
                        <i class="bx bx-mail-send"></i>
                        <span>info@gatewaydigital.fr</span>
                    </p>
                    
                </div>
             </div>
             <!--newsletter
             <div class="col-md-4">
                <form action="" class="row g-1">
                    <h5 class="text-white">Newsletter Mensuelle</h5>
                    
                    <div class="newsletter" style="width: 80%">
                        <input type="text" style="height: 40px;" class="form-control" placeholder="Nom" Required>
                    </div>
                    <div>
                    <input type="email"style="height: 40px; width: 80%" class="form-control" placeholder="Email" Required>
                    </div>
                    <div class="d-grid" style="width: 80%;">
                        <button class="btn btn-danger">JE M'ABONNE</button>
                     </div>
                </form>
            </div>
             newsletter-->
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-auto">GateWay Digital &copy Copyright 2019 - 
                        <script type="text/javascript">
                            document.write(new Date().getFullYear());
                        </script> 
                          Tous Droits Réservés
                    </div>
                    <div class="col-auto">
                        <p>Designed by <a href="#">GateWay Digital</a> Powered by django - python</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--//FOOTER--> 
    
  